In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import findspark
findspark.init()
import pyspark as spark
from pyspark.sql.functions import udf,col, rand
from pyspark.sql.types import StringType
sc = spark.SparkContext()
sql = spark.SQLContext(sc)

In [2]:
df = sql.read.option("delimiter",'\t').option("header",'true').csv('GTEx_Analysis_2016-01-15_v7_RNASeQCv1.1.8_gene_reads.gct')
df = df.withColumn('ensg',udf(lambda x: x[:15], StringType())(col('Name')))
df.registerTempTable('gtex')

In [3]:
genes = sql.read.option("header",'true').csv('/Users/filippo/Developer/tesi/genes.txt')
genes.registerTempTable("genes")

In [4]:
pc = sql.sql("SELECT * FROM genes WHERE type_of_gene='protein-coding'")
pc_list = list(pc.select('_c0').toPandas().values.T[0])

In [5]:
df = df.filter(col("ensg").isin(pc_list))

## GTEx Biospecimen
[GTEX_biospecimen](https://gtexportal.org/home/samplesPage)

In [6]:
#df_file = sql.createDataFrame(pd.read_csv("https://storage.googleapis.com/gtex_analysis_v7/annotations/GTEx_v7_Annotations_SampleAttributesDS.txt", sep='\t', index_col=[0]).loc[:,['SMTS', 'SMTSD']])
df_file=sql.read.option('delimiter',',').option("header",'true').csv("files.dat")
df_file.registerTempTable("files")
df_file.describe()

DataFrame[summary: string, _c0: string, primary_site: string, secondary_site: string]

In [7]:
#df_sites=pd.DataFrame()
#df_sites.insert(0,'sample',df_file.index.values)
#df_sites.insert(1,'primary_site',df_file.loc[:,'SMTS'].values)
#df_sites.insert(2,'secondary_site', df_file.loc[:,'SMTSD'].values)
#df_sites.set_index('sample', inplace=True)
#df_sites.head()

In [7]:
df_file.select('primary_site').distinct().toPandas().values.T[0]

array(['Skin', 'Adrenal Gland', 'Adipose Tissue', 'Pituitary',
       'Salivary Gland', 'Spleen', 'Colon', 'Nerve', 'Blood', 'Kidney',
       'Blood Vessel', 'Muscle', 'Prostate', 'Small Intestine',
       'Esophagus', 'Bladder', 'Liver', 'Stomach', 'Thyroid', 'Heart',
       'Fallopian Tube', 'Pancreas', 'Vagina', 'Brain', 'Uterus', 'Lung',
       'Testis', 'Ovary', 'Breast', 'Cervix Uteri'], dtype=object)

In [30]:
available_tissues=df_file.groupby('primary_site').count().sort("count", ascending=False).toPandas()
available_tissues

       primary_site  count
0             Brain   1671
1              Skin   1203
2         Esophagus   1021
3      Blood Vessel    913
4    Adipose Tissue    797
5             Heart    600
6            Muscle    564
7             Blood    537
8             Colon    507
9           Thyroid    446
10             Lung    427
11            Nerve    414
12           Breast    290
13          Stomach    262
14           Testis    259
15         Pancreas    248
16    Adrenal Gland    190
17        Pituitary    183
18            Liver    175
19           Spleen    162
20         Prostate    152
21  Small Intestine    137
22            Ovary    133
23           Vagina    115
24           Uterus    111
25   Salivary Gland     97
26           Kidney     45
27          Bladder     11
28     Cervix Uteri     11
29   Fallopian Tube      7

In [33]:
selectedTissues = ['Blood', 'Brain', 'Lung', 'Thyroid', 'Breast', 'Skin', 'Pancreas', 'Testis', 'Adipose Tissue', 'Colon', 'Nerve', 'Heart', 'Kidney', 'Uterus', 'Adrenal Gland']
selectedTissues = available_tissues['primary_site'][:10].values
selectedTissues

array(['Brain', 'Skin', 'Esophagus', 'Blood Vessel', 'Adipose Tissue',
       'Heart', 'Muscle', 'Blood', 'Colon', 'Thyroid'], dtype=object)

In [42]:
limit=int(1000/len(selectedTissues))
needed_columns = []
for tissue in selectedTissues:
    needed_columns = np.concatenate((needed_columns,
                                 list(set(sql.sql("SELECT * FROM files WHERE primary_site='%s'"%(tissue))
                                .orderBy(rand())
                                .limit(limit)
                                .select("_c0")
                                .toPandas().values.T[0])-{'Name'}-{'Description'})))
np.random.shuffle(needed_columns)
needed_columns = np.concatenate([['ensg'],needed_columns])

In [ ]:
df.select(list(needed_columns)).toPandas().to_csv("mainTable_all.csv", header=True, index=False)

In [41]:
df_file.filter(col('_c0').isin(list(needed_columns))).toPandas().to_csv("files_tissues.dat", header=True, index=False)

# U

In [ ]:
tissue = 'Breast'

In [ ]:
sample_list = df_sites[df_sites['primary_site']==tissue].index.values
subdf = df.loc[:,sample_list]

In [ ]:
odf = pd.read_csv("meanVariances.csv", header=0, index_col=0)
odf.insert(3,"A",pd.read_csv("A.dat", header=None).values)
odf.head()

In [ ]:
O = odf[odf.index.isin(pc.index)]['occurrence']
O_nc = odf[~odf.index.isin(pc.index)]['occurrence']

In [ ]:
bins = 20
rang = (0-0.5/20,1+0.5/20)
fig = plt.figure()
plt.hist(O[O<=1], histtype='step', lw=4, density=True, bins=bins, range=rang, label='coding')
plt.hist(O_nc[O_nc<=1], histtype='step', lw=4, density=True, bins=bins, range=rang, label='non-coding')
#plt.title(tissue, fontsize=18)
plt.xlabel('$O_i$', fontsize=16)
plt.ylabel('pdf', fontsize=16)
plt.legend(loc='upper left', fontsize=16)
plt.show()
fig.savefig("U_gtex_cnc.pdf")

In [ ]:
A = odf['A'].values
A_c = odf[odf.index.isin(pc.index)]['A'].values
A_nc = odf[~odf.index.isin(pc.index)]['A'].values
fig=plt.figure()
plt.plot(np.arange(0,len(A)), 1./np.arange(0,len(A)), ls='--', c='g', label='$r^-1$')
#plt.plot(np.arange(0,len(A)), np.sort(A)[::-1]/np.sum(A))
#plt.plot(np.arange(0,len(A_c)), np.sort(A_c)[::-1]/np.sum(A), label='coding genes')
plt.plot(np.arange(0,len(A_nc)), np.sort(A_nc)[::-1]/np.sum(A), label='non coding genes')
plt.xscale('log')
plt.yscale('log')
plt.ylabel('$f_i$', fontsize=18)
plt.xlabel("Rank_i", fontsize=18)
plt.legend(fontsize=18)
fig.savefig("globalZipf_nc.pdf")